<div class="container">
  <div class="header">
    <button (click)="removeSelected()">Remove Selected Players</button>
  </div>
  <div class="datagrid">
    <label for="quickSearch">Quick Search</label><input id="quickSearch" (input)="quickSearch($event.target.value)">
    <br>
    <button (click)="showAll()">Show All</button>
    <button (click)="showQuarterbacks()">Show Quarterbacks</button>
    <button (click)="showRunningBacks()">Show Running Backs</button>
    <button (click)="showWideReceivers()">Show Wide Receivers</button>
    <button (click)="showTightEnds()">Show Tight Ends</button>
    <button (click)="showKickers()">Show Kickers</button>
    <ag-grid-angular
      #agGrid
      style="width: 100%; height: 100%;"
      class="ag-theme-balham"
      [rowData]="players | async"
      [columnDefs]="columnDefs"
      [enableSorting]="true"
      [enableFilter]="true"
      [enableColResize]="true"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
</div>
