.container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas: "header header header" ". grid .";
  justify-items: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.datagrid {
  grid-area: grid;
  width: 100%;
  height: 100%;
}

.header {
  grid-area: header;
}
